#################
## Eclipse
#################

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
target/

# Locally stored "Eclipse launch configurations"
*.launch
